@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Rubik', sans-serif
}

a.active hr{
    display: block;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

::-webkit-scrollbar {
    display: none;             /* Chrome, Safari and Opera */
}